{% extends "base.html" %}

{% block content %}
<h1>Alle Maaltijden</h1>
<p>
Hieronder bevinden zich alle maaltijden!
    <form class="form-inline my-2 my-lg-0" method="GET" action="">
      <input class="form-control mr-sm-2" type="search" name="q" value="{{ request.GET.q }}" placeholder="Zoek naar producten" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zoek</button>
    </form>
</p>
<ul class="list-group">
{% for instance in object_list %}
    <li class="list-group-item"><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a>
<!--    	{{ instance.description|truncatechars:100 }}-->
<!--    	{{ instance.price }}</li>-->
{% empty %}
    <li>Geen foodproducten gevonden.</li>
{% endfor %}
</ul>
{% endblock content %}


