{% extends "base.html" %}

{% block content %}
<h1>Tags</h1>
<p>
<!--<form method="GET" action="">-->
<!--    <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">-->
<!--    <input type="submit" value="Search">-->
<!--</form>-->
</p>
<ul>
    <p>
        Met tags vind je alle maaltijden die aan elkaar zijn gerelateerd!
    </p>
{% for instance in object_list %}


    <li class="list-group-item"><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a> ({{ instance.foods.count }} food product{% if instance.foods.count > 1 %}en{% endif %})</li>


{% empty %}
    <li>Geen Tags gevonden.</li>
{% endfor %}
</ul>
{% endblock content %}
