{% extends "base.html" %}



{% block content %}

<div>
<!--Uit foods.models instance haalt hij alle tags door middel van een manytomany relatie field-->
<ul>
{% for food_instance in object.foods.all %}

    Gerelateerde maaltijden:
        <li>
<!--            Onderstaande regel laat 1ste geuploade thumbnail zien van elk food object gerelateerd aan de tag-->
    	<a href='{{ food_instance.get_absolute_url }}'><img src='{{ food_instance.thumbnail_set.all.first.media.url }}'></a>

    </li>


{% empty %}
    <li>Geen tags gevonden.</li>
{% endfor %}
</ul>
</div>


{% endblock content %}

